
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.4rem;
}.homepage-hA7 {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-8alo-Evj {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0rem 1.6rem 0.05rem;
    width: 100%;

    .b9262b99648687-ku5 {
      margin: 0rem 0rem 3.2rem 0.25rem;
      width: 192rem;
      height: 64rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM {
      color: #ffffff;
      margin: 0rem 2.01rem 1.6rem 0rem;
      max-width: 151.9rem;
      font-weight: 500;
      letter-spacing: -0.032rem;
      font-size: 3.2rem;
      line-height: 1;
      font-family: Newsreader, 'Source Sans Pro';
      flex-shrink: 0;

      .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM-sub-0 {
        line-height: 1;
        letter-spacing: -0.032rem;
        text-decoration-line: underline;
        color: #e31414;
        font-family: Newsreader, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 500;
      }
      .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM-sub-1 {
      }
    }
    .evangelion--W31 {
      margin: 0rem 0.05rem 3.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.032rem;
      font-family: Newsreader, 'Source Sans Pro';
      max-width: 32rem;
      text-align: center;
      color: #ffffff;
      flex-shrink: 0;
    }
    .ede99648687-RJP {
      height: 86.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0.05rem;
      width: 192.1005rem;
    }
    .it-cannot-be-true-like-every-eva-movie-has-a-subtitle-i-also-choose-a-name-for-my-work-pronounced-trueit-has-two-meanings-onemeans-my-dream-come-true-and-the-other-meansreality-the-core-purpose-of-this-creation-is-to-try-to-make-the-eva-world-from-the-anime-style-to-the-real-as-one-of-my-favorite-lines-in-eva-says-dream-is-the-continuation-of-reality-reality-is-the-end-of-dream--8Co {
      font-size: 3.2rem;
      font-weight: 500;
      color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0.25rem;
      max-width: 173.9rem;
      text-align: center;
      line-height: 1;
      letter-spacing: -0.032rem;
      font-family: Newsreader, 'Source Sans Pro';
    }
    .auto-group-je1u-1vo {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0.1rem;
      width: calc(100% - 0.1rem);

      .d26d99648687-6xF {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 95.4rem;
        height: 48.1rem;
        object-fit: cover;
      }
      .beee7899648687-cQo {
        width: 95.5rem;
        height: 48.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-jwwo-YZM {
      flex-shrink: 0;
      width: 192.6rem;
      display: flex;
      column-gap: 1.5rem;
      align-items: center;

      .ede99648687-VUb {
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 63.3rem;
      }
      .a2299648687-SPq {
        width: 63.8rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .c5af399648687-aF9 {
        width: 62.5rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-vdz7-7ks {
    margin-bottom: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .f912299648687-g3H {
      flex-shrink: 0;
      margin-right: 1.5rem;
      width: 95.7rem;
      height: 59.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .a5ca99648687-odh {
      height: 59.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 95.5rem;
    }
  }
  .when-this-project-was-made-terrible-viruses-swept-the-world-we-need-to-wear-masks-to-isolate-each-other-just-like-atfield-in-the-anime-but-we-still-connect-with-each-other-through-eyes-and-give-each-other-strength-so-we-captured-some-warm-images-during-this-outbreak-you-will-not-die-i-will-protect-you--9Sf {
    margin-left: 0.3rem;
    text-align: center;
    font-size: 3.2rem;
    color: #ffffff;
    font-family: Newsreader, 'Source Sans Pro';
    flex-shrink: 0;
    max-width: 154.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.032rem;
  }
  .auto-group-frew-enj {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 0rem 2.7rem 0.15rem;
    width: 100%;

    .de24e799648687-xYX {
      margin: 0rem 0rem 1.6rem 0.15rem;
      width: 192rem;
      height: 99.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .eva-01-eva-01-test-typeis-a-symbol-of-the-entire-eva-world-and-my-favorite-mecha-it-is-a-mixture-of-organic-biology-and-machineryso-it-is-a-challenge-to-make-the-giant-body-in-the-animation-real-and-credible-andwe-try-our-best-to-remake-theeva-01launchand-the-attacthis-outbreakin-a-more-cinematic-way--Gp7 {
      margin: 0rem 0rem 1.5rem 0.15rem;
      max-width: 147.3rem;
      font-size: 3.2rem;
      font-weight: 500;
      flex-shrink: 0;
      text-align: center;
      line-height: 1;
      letter-spacing: -0.032rem;
      color: #ffffff;
      font-family: Newsreader, 'Source Sans Pro';
    }
    .auto-group-lxzo-dYB {
      margin: 0rem 1.55rem 1.6rem 1.7rem;
      width: calc(100% - 3.25rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ecc3d899648687-AY7 {
        height: 49.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 95.4rem;
      }
      .ee822f99648687-Tn7 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 92.1rem;
        height: 49.6rem;
      }
    }
    .auto-group-kr1v-ykT {
      display: flex;
      column-gap: 1.5rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      width: 192.4rem;

      .b99648687-hgT {
        width: 62.7rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dc7d2599648687-dKD {
        width: 63.9rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .d018899648687-mRR {
        flex-shrink: 0;
        width: 62.8rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .launch-part-in-the-base-7EP {
      font-weight: 500;
      letter-spacing: -0.032rem;
      margin: 0rem 0rem 1.6rem 0.15rem;
      text-align: center;
      font-size: 3.2rem;
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1;
      color: #ffffff;
      font-family: Newsreader, 'Source Sans Pro';
    }
    .fa99648687-bfM {
      height: 91.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0.15rem;
      width: 192rem;
    }
    .auto-group-fwyj-KrF {
      flex-shrink: 0;
      margin: 0rem 1.6rem 1.3rem 1.75rem;
      width: calc(100% - 3.35rem);
      display: flex;
      align-items: center;

      .afd99648687-4J3 {
        width: 95.9rem;
        height: 55rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
      }
      .a6f67b99648687-Aby {
        width: 91.5rem;
        height: 55rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .outbreakin-the-city-HwV {
      font-family: Newsreader, 'Source Sans Pro';
      margin: 0rem 0rem 1rem 0.65rem;
      line-height: 1;
      letter-spacing: -0.032rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 500;
      color: #ffffff;
    }
    .image-4-V1y {
      margin: 0rem 0rem 5.5rem 0.25rem;
      width: 192rem;
      height: 86.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .the-end-of-evangelion-p4F {
      font-family: Newsreader, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.032rem;
      color: #ffffff;
      margin-left: 0.85rem;
      font-size: 3.2rem;
    }
  }
}
