
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.4rem;
}.homepage-hA7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.homepage-hA7 .auto-group-8alo-Evj {
  box-sizing: border-box;
  padding: 0rem 0rem 1.6rem 0.05rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .b9262b99648687-ku5 {
  margin: 0rem 0rem 3.2rem 0.25rem;
  width: 192rem;
  height: 64rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM {
  margin: 0rem 2.01rem 1.6rem 0rem;
  max-width: 151.9rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM-sub-0 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  text-decoration-line: underline;
  color: #e31414;
  font-family: Newsreader, 'Source Sans Pro';
}
.homepage-hA7 .auto-group-8alo-Evj .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM .evangelionis-an-anime-that-was-crazy-and-obsessed-in-my-childhood-this-year-its-final-theater-version-will-be-released-sooni-also-hope-to-use-my-way-to-commemorate-this-animation-throughout-my-growing-period-so-i-here-is-my-fanart-short-film-EZM-sub-1 {
}
.homepage-hA7 .auto-group-8alo-Evj .evangelion--W31 {
  margin: 0rem 0.05rem 3.2rem 0rem;
  max-width: 32rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .ede99648687-RJP {
  margin: 0rem 0rem 1.6rem 0.05rem;
  width: 192.1005rem;
  height: 86.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .it-cannot-be-true-like-every-eva-movie-has-a-subtitle-i-also-choose-a-name-for-my-work-pronounced-trueit-has-two-meanings-onemeans-my-dream-come-true-and-the-other-meansreality-the-core-purpose-of-this-creation-is-to-try-to-make-the-eva-world-from-the-anime-style-to-the-real-as-one-of-my-favorite-lines-in-eva-says-dream-is-the-continuation-of-reality-reality-is-the-end-of-dream--8Co {
  margin: 0rem 0rem 1.6rem 0.25rem;
  max-width: 173.9rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-je1u-1vo {
  margin: 0rem 0rem 1.6rem 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-je1u-1vo .d26d99648687-6xF {
  margin-right: 1.5rem;
  width: 95.4rem;
  height: 48.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-je1u-1vo .beee7899648687-cQo {
  width: 95.5rem;
  height: 48.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-jwwo-YZM {
  width: 192.6rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-jwwo-YZM .ede99648687-VUb {
  width: 63.3rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-jwwo-YZM .a2299648687-SPq {
  width: 63.8rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-8alo-Evj .auto-group-jwwo-YZM .c5af399648687-aF9 {
  width: 62.5rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-vdz7-7ks {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-vdz7-7ks .f912299648687-g3H {
  margin-right: 1.5rem;
  width: 95.7rem;
  height: 59.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-vdz7-7ks .a5ca99648687-odh {
  width: 95.5rem;
  height: 59.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .when-this-project-was-made-terrible-viruses-swept-the-world-we-need-to-wear-masks-to-isolate-each-other-just-like-atfield-in-the-anime-but-we-still-connect-with-each-other-through-eyes-and-give-each-other-strength-so-we-captured-some-warm-images-during-this-outbreak-you-will-not-die-i-will-protect-you--9Sf {
  margin-left: 0.3rem;
  max-width: 154.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj {
  box-sizing: border-box;
  padding: 1.6rem 0rem 2.7rem 0.15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .de24e799648687-xYX {
  margin: 0rem 0rem 1.6rem 0.15rem;
  width: 192rem;
  height: 99.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .eva-01-eva-01-test-typeis-a-symbol-of-the-entire-eva-world-and-my-favorite-mecha-it-is-a-mixture-of-organic-biology-and-machineryso-it-is-a-challenge-to-make-the-giant-body-in-the-animation-real-and-credible-andwe-try-our-best-to-remake-theeva-01launchand-the-attacthis-outbreakin-a-more-cinematic-way--Gp7 {
  margin: 0rem 0rem 1.5rem 0.15rem;
  max-width: 147.3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-lxzo-dYB {
  margin: 0rem 1.55rem 1.6rem 1.7rem;
  width: calc(100% - 3.25rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-lxzo-dYB .ecc3d899648687-AY7 {
  margin-right: 1.5rem;
  width: 95.4rem;
  height: 49.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-lxzo-dYB .ee822f99648687-Tn7 {
  width: 92.1rem;
  height: 49.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-kr1v-ykT {
  margin-bottom: 1.6rem;
  width: 192.4rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-kr1v-ykT .b99648687-hgT {
  width: 62.7rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-kr1v-ykT .dc7d2599648687-dKD {
  width: 63.9rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-kr1v-ykT .d018899648687-mRR {
  width: 62.8rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .launch-part-in-the-base-7EP {
  margin: 0rem 0rem 1.6rem 0.15rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .fa99648687-bfM {
  margin: 0rem 0rem 1.6rem 0.15rem;
  width: 192rem;
  height: 91.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-fwyj-KrF {
  margin: 0rem 1.6rem 1.3rem 1.75rem;
  width: calc(100% - 3.35rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-fwyj-KrF .afd99648687-4J3 {
  margin-right: 1.5rem;
  width: 95.9rem;
  height: 55rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .auto-group-fwyj-KrF .a6f67b99648687-Aby {
  width: 91.5rem;
  height: 55rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .outbreakin-the-city-HwV {
  margin: 0rem 0rem 1rem 0.65rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .image-4-V1y {
  margin: 0rem 0rem 5.5rem 0.25rem;
  width: 192rem;
  height: 86.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-hA7 .auto-group-frew-enj .the-end-of-evangelion-p4F {
  margin-left: 0.85rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  body {
    width: auto; 
    font-size: 16px; 
  }
  
  .homepage-hA7 .auto-group-8alo-Evj,
  .homepage-hA7 .auto-group-frew-enj {
    padding: 1.6rem 1rem; 
    width: 100%; 
  }
  
  
  .homepage-hA7 .auto-group-8alo-Evj .b9262b99648687-ku5,
  .homepage-hA7 .auto-group-frew-enj .de24e799648687-xYX,
  .homepage-hA7 .auto-group-frew-enj .fa99648687-bfM,
  .homepage-hA7 .auto-group-frew-enj .image-4-V1y {
    width: 100%; 
    height: auto; 
  }
}
